/*For mobile*/
[class*="col-"] {
  float: left;
}

@media only screen and (max-width: 480px) {
	h1{
		font-size: 2.5rem;
		margin-bottom: 50px;
	}
}

@media only screen and (min-width: 480px) {
	
}

@media only screen and (min-width: 768px) {
	.subHead{
		padding: 10% 5% 3% 12.5%;
	}
	
	.decorativeImg{
		margin: 0% 5% 2% 4%;
	}
	
	#carouselImagesIndicators{
		margin: 3% 5%;
	}

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
 
	h1{
		font-size: 4.5rem;
	}
}

.flex{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.row{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

